@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&family=Pompiere&display=swap');
.life-savers-regular {
  font-family: "Life Savers", serif;
  font-weight: 400;
  font-style: normal;
}

.life-savers-bold {
  font-family: "Life Savers", serif;
  font-weight: 700;
  font-style: normal;
}

.life-savers-extrabold {
  font-family: "Life Savers", serif;
  font-weight: 800;
  font-style: normal;
}


body{
    font-family: 'Inter', sans-serif;
    background-color: #F8F8F8;
    text-align: center;
    height: 350px;
    width: 275px;
}
p1{
    color: #4da6ff; 
}
#buddy{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 30px;
}
h1{
    font-family: 'Life Savers', serif;
    color: black;
    text-align: center;
    position: relative;
    top: 5px;
    font-size: 25pt;
}
p2{
    color:#4da6ff;
}
button{
    background-color: #F8F8F8; 
    color:black; 
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 175px;
}
#settings{
    padding: 12px;
    position: absolute;
    top: 5px;
    right: 0;
    cursor: pointer;
}
#refresh{
    padding: 12px;
    cursor: pointer;
}
#reminderbtn{
    padding: 12px;
    cursor: pointer;
}
#clearUserReminders{
    padding: 12px;
    cursor: pointer;
}


#msbTitle{
    font-family: 'Life Savers', serif;
    font-weight: 555;
    font-size: 20pt;
    color: black;
    margin-top: 40px;
}